/*Color Variables*/
root {
    /* A coleta das variaveis não ficou ruim, 
    aqui embaixo vai um exemplo melhor de nomenclatura */
    --background: #faf8f4;
    --dark-blue: #113350;
    --primary-blue: #187fb3;


    --bs-midblue: #a8d6e9;
    --bs-pastelblue: #98d9ed;
    --bs-grayblue: #beddef;
    --bs-lightblue: #c8e4eb;
    --bs-iceblue: #f8ffff;
    --bs-sucess: #15c56b;
    --bs-error: #c51515;
}